@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700&display=swap');

* {
  line-height: 1.5;
  color: $gray-70;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: normal;

  // 스크롤 스타일
  scrollbar-width: auto;
  scrollbar-color: #a3a7b9 transparent;
  &::-webkit-scrollbar {
    width: 5px;
    height: 7px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 20px;
    border: 2px solid transparent;
  }
  .point-color {
    color: $primary-1;
  }
}

.layout {
  height: 100%;
  padding: 30px;
  &__top {
    @apply flex items-center justify-between;
    margin-bottom: 10px;
    border-bottom: 1px solid $gray-20;
    text-align: right;
    .point-color {
      font-weight: 500;
    }
    .btn__logout {
      width: 16px;
      height: 16px;
      background: url(@/assets/img/icon__logout.png) no-repeat center center /
        100%;
      vertical-align: sub;
      &:focus {
        outline: transparent;
      }
    }
  }
  .breadcrumb {
    min-height: 40px;
    li {
      height: 28px;
      line-height: 28px;
      &::after {
        content: '';
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 0 4px;
        background: url(@/assets/img/icon__arrow-up.png) no-repeat center center /
          100%;
        transform: rotate(90deg);
      }
      > a {
        display: inline-block;
        color: $gray-50;
        font-size: 11px;
        &:hover {
          color: $primary-1;
          border-bottom: 1px solid $primary-1;
        }
      }
      &:last-child {
        &::after {
          content: none;
        }
      }
    }
  }
}
// 버튼 기본 스타일
%btn {
  display: inline-block;
  line-height: normal;
  height: 32px;
  min-width: 65px;
  padding: 0 20px;
  box-sizing: border-box;

  &:hover {
    box-shadow: 2px 4px 7px 0 rgba(0, 0, 0, 0.2);
  }
  &:disabled {
    cursor: not-allowed;
    &:hover {
      box-shadow: none;
    }
  }
}
%btn--lg {
  height: 40px;
  min-width: 80px;
  padding: 0 25px;
}
%btn--sm {
  height: 26px;
  min-width: 50px;
  padding: 0 10px;
}
// 버튼별 스타일
.btn {
  // Primary btn
  &__primary {
    @extend %btn;
    background: $primary-1;
    color: $white;

    &:disabled {
      background: $gray-30;
      &:hover {
        background: $gray-30;
      }
    }
  }

  &__primary--lg {
    @extend .btn__primary;
    @extend %btn--lg;
  }
  &__primary--sm {
    @extend .btn__primary;
    @extend %btn--sm;
    padding: 0 10px;
  }

  // btn__secondary btn
  &__secondary {
    @extend %btn;
    background: $gray-40;
    color: $white;

    &:disabled {
      background: $gray-10;
      &:hover {
        background: $gray-10;
      }
    }
  }
  &__secondary--lg {
    @extend .btn__secondary;
    @extend %btn--lg;
  }
  &__secondary--sm {
    @extend .btn__secondary;
    @extend %btn--sm;
    padding: 0 10px;
  }

  // Primary-line btn
  &__primary-line {
    @extend %btn;
    background: $white;
    color: $primary-1;
    border: 1px solid $primary-1;
    padding: 0 18px;

    &:disabled {
      color: $gray-30;
      border: 1px solid $gray-30;
    }
  }
  &__primary-line--lg {
    @extend .btn__primary-line;
    @extend %btn--lg;
  }
  &__primary-line--sm {
    @extend .btn__primary-line;
    @extend %btn--sm;
    padding: 0 10px;
  }

  // Secondary-line btn
  &__secondary-line {
    @extend %btn;
    background: $white;
    color: $gray-50;
    border: 1px solid $gray-40;
    padding: 0 18px;

    &:disabled {
      color: $gray-3;
      border: 1px solid $gray-3;
    }
  }
  &__secondary-line--lg {
    @extend .btn__secondary-line;
    @extend %btn--lg;
  }
  &__secondary-line--sm {
    @extend .btn__secondary-line;
    @extend %btn--sm;
    padding: 0 10px;
  }

  // Search btn
  &__search {
    @extend %btn;
    height: 30px;
    background: $gray-60;
    color: $white;
    &:disabled {
      background: $gray-40;
    }
  }
}
/* ============= form basic Style ============= */
// checked + disabled
%checked--disabled {
  cursor: not-allowed;
  + label {
    color: $gray-50;
    cursor: not-allowed;
  }
}
%checked--readonly {
  cursor: default;
  + label {
    color: $gray-60;
    cursor: default;
  }
}
// input readOnly 스타일
%form--readonly {
  border: 1px solid $gray-20;
  background: $gray-1;
  color: $gray-60;

  cursor: default;
  &::placeholder {
    color: $gray-60;
  }
  &:focus {
    border: 1px solid $gray-20;
    &::placeholder {
      color: $gray-60;
    }
  }
}

// input disabled 스타일
%form--disabled {
  cursor: not-allowed;
  background: $gray-2; // 바로 아래 &::placeholder의 background도 동일하게 변경
  border: 1px solid $gray-20;
  color: $gray-50;
  &::placeholder {
    background: $gray-2;
    color: $gray-50;
    border: 1px solid transparent;
  }
}
// input focus 스타일
%form--focus {
  border: 1px solid $gray-60;
  outline-color: $primary-4;
  &::placeholder {
    color: transparent;
  }
}
// input 상태별 스타일
%form__state {
  &:focus {
    @extend %form--focus;
  }

  &::placeholder {
    // color: $white-60;
    &:disabled {
      @extend %form--disabled;
    }
  }

  &:read-only {
    @extend %form--readonly;

    &:disabled {
      @extend %form--disabled;
    }
  }

  &:disabled {
    @extend %form--disabled;
  }
}

/* ============= Form Style ============= */

.form {
  &__label {
    align-self: normal;
    line-height: 32px;
    min-width: 160px;

    &--required {
      &::after {
        content: '*';
        // padding-left: 6px;
        // padding-right: 2px;
        color: $error;
      }
    }
  }
  &__box {
    margin-top: 10px;
    border-top: 1px solid $gray-40;
    border-bottom: 1px solid $gray-10;
    padding: 20px 10px;
  }
  // CheckBox Style
  &__checkbox {
    @apply flex items-center;

    input[type='checkbox'] {
      // 기본 스타일 제거
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;

      position: relative;
      width: 16px;
      height: 16px;
      border: 1px solid $gray-20;
      border-radius: 2px;
      background: transparent;
      cursor: pointer;

      &:checked {
        position: relative;
        border: 1px solid transparent;
        background: $primary-1;

        &:before {
          content: '';
          position: absolute;
          top: 2px;
          left: 2px;
          width: 10px;
          height: 6px;
          transform: rotate(-45deg);
          border-left: 2px solid $white;
          border-bottom: 2px solid $white;
        }
        &:disabled {
          @extend %checked--disabled;
          border: 1px solid $gray-20;
          &::before {
            border-color: $gray-20;
          }
        }
      }

      &:disabled {
        @extend %checked--disabled;
        background: $gray-2;
        &.checkbox--readonly {
          border-color: $gray-20;
          background: transparent;
          cursor: default;
          &:checked {
            &:before {
              border-color: $gray-60;
            }
          }
          + label {
            cursor: default;
            color: $gray-60;
          }
        }
      }
    }

    input[type='checkbox'] + label {
      padding: 0 30px 0 5px;
      cursor: pointer;
    }
  }
  // Radio Style
  &__radio {
    @apply flex items-center;

    input[type='radio'] {
      // 기본 스타일 제거
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;

      position: relative;
      width: 16px;
      height: 16px;
      border: 1px solid $gray-20;
      border-radius: 50%;
      background: transparent;
      cursor: pointer;

      &:checked {
        position: relative;
        border-color: transparent;
        background: $white;
        border: 1px solid $primary-1;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 8px;
          height: 8px;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          background-color: $primary-1;
        }
        &:disabled {
          @extend %checked--disabled;
          border-color: $gray-20;
          background-color: transparent;
          &::before {
            background-color: $gray-20;
          }
        }
      }

      &:disabled {
        @extend %checked--disabled;
        background-color: $gray-2;
        // readonly
        &.radio--readonly {
          border-color: $gray-20;
          cursor: default;
          &:checked {
            &:before {
              background-color: $gray-60;
            }
          }
          + label {
            cursor: default;
            color: $gray-60;
          }
        }
      }
    }

    input[type='radio'] + label {
      padding: 0 30px 0 5px;
      cursor: pointer;
    }
  }
  // input Style
  &__input {
    flex: 1 1 0%;
    width: 100%;
    min-width: 200px;
    height: 32px;
    padding: 9px 11px;
    background: $white;
    border: 1px solid $gray-20;
    color: $gray-70;
    box-sizing: border-box;

    &--300 {
      flex: inherit;
      width: 50%;
      min-width: 200px;
      max-width: 300px;
    }
    &::placeholder {
      font-size: 13px;
      color: $gray-50;
    }

    @extend %form__state;
    &.form__error {
      border: 1px solid $validation;
      &:focus {
        border: 1px solid $validation;
      }
    }
  }
  // textarea Style
  &__textarea {
    flex: 1 1 0%;
    width: 100%;
    min-width: 200px;
    height: 80px;
    padding: 9px 11px;
    border: 1px solid $gray-20;
    resize: none;
    &::placeholder {
      font-size: 13px;
      color: $gray-50;
    }

    @extend %form__state;

    &.form__error {
      border: 1px solid $validation;
      & + p {
        margin-top: 0px;
      }
      &:focus {
        border: 1px solid $validation;
      }
    }
  }
}

p.form__error {
  margin-top: 4px;
  font-size: 12px;
  color: $validation;
}

/* ============= Select Style ============= */
.v-select {
  width: auto;
  font-size: 13px;
  &.form__error {
    .vs__dropdown-toggle {
      border: 1px solid $validation;
      &:focus {
        border: 1px solid $validation;
      }
    }
  }
  .vs__search {
    margin: 0;
    padding: 0;
    color: $gray-50;
  }
  &.vs--open {
    // focus style
    .vs__dropdown-toggle {
      border-color: $primary-4;
    }
  }
  .vs__dropdown-toggle {
    height: 32px;
    padding: 0;
    border: 1px solid $gray-20;
    border-radius: 0;
    background-color: $white; // select 배경색
    transition: 0.1s ease-out;
    box-sizing: border-box;
    cursor: pointer;
    &::placeholder {
      color: $gray-60;
    }

    .vs__selected-options {
      height: 32px; //select 높이만큼 수정
      padding-left: 11px;
      cursor: pointer;
      .vs__search {
        margin: 0;
        padding: 0;
      }
      .vs__selected {
        position: unset;
        margin: 0;
        padding: 0;
        border: none;
        cursor: pointer;
      }
    }

    .vs__actions {
      position: relative;
      transform: scale(0.75);
      &::before {
        content: '';
        width: 13px;
        height: 8px;
        background: url('@/assets/img/icon__arrow-down.png') no-repeat center
          center/16px;
        transition: 0.2s ease-out;
      }

      .vs__clear {
        display: none; // select box 초기화
      }

      .vs__open-indicator {
        display: none;
      }
    }
  }
  &.vs--open {
    .vs__actions {
      &::before {
        content: '';
        width: 13px;
        height: 9px;
        background: url('@/assets/img/icon__arrow-up.png') no-repeat center
          center/16px;
        transition: 0.2s ease-out;
      }
    }
  }
  // 드롭다운
  .vs__dropdown-menu {
    overflow-y: auto;
    min-width: 100%; // *필수 select의 너비 값만큼 dropdown의 너비값 조절
    max-height: 130px;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    border-color: $primary-4;

    .vs__dropdown-option {
      padding: 2px 5px;
      background: $white;
      color: $gray-70;
      &:hover,
      &:focus {
        color: $gray-40;
        background: $primary-3;
      }
    }
  }

  // 비활성화
  &.vs--disabled {
    .vs__dropdown-toggle {
      background: $gray-2;

      .vs__selected-options {
        cursor: not-allowed;
        .vs__selected,
        .vs__search {
          margin: 0;
          padding: 0;
          background-color: transparent;
          color: $gray-50;
          cursor: not-allowed;
        }
      }
      .vs__actions {
        display: none;
      }
    }
  }

  // readonly
  &.select--readonly {
    .vs__dropdown-toggle {
      background: $gray-1;
      border: 1px solid $gray-20;
      cursor: default;
      .vs__selected-options {
        cursor: default;
        .vs__selected,
        .vs__search {
          margin: 0;
          padding: 0;
          background-color: transparent;
          cursor: default;
          opacity: 1;
        }
      }

      .vs__actions {
        display: none;
      }
    }
    .vs__dropdown-menu {
      display: none;
    }
  }
  & + .form__error {
    color: $validation;
    margin-top: 4px;
  }
}
/* ============= grid Style ============= */
.grid {
  display: flex;
  flex-flow: column;

  &__countbox {
    @apply flex items-end justify-between mb-2;
    // 그리드 카운트
    .grid__count {
      line-height: initial;

      &--point {
        display: inline-block;
        color: $primary-1;
        font-weight: 700;
      }
    }
  }

  // 테이블 (리스트) 스타일
  .grid__base {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: {
      top: 2px solid $gray-60;
      bottom: 1px solid $gray-20;
    }
    text-align: center;

    .form__checkbox {
      justify-content: center;
    }

    th,
    td {
      font-size: 12px;
      word-break: break-all;
      // border-right: 1px solid $gray-20;
      box-sizing: border-box;
      cursor: default;
      // &:last-child {
      //   border-right: 1px solid transparent;
      // }
    }

    thead {
      background: $white;
      th {
        height: 35px;
        padding: 0 3px;
        border-bottom: 1px solid $gray-20;
        box-sizing: border-box;
        text-align: center;
        word-break: break-all;
        font-weight: 500;
        &:first-child {
          border-left: none;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid $gray-10;
        border-collapse: separate;
        background: transparent;

        &:last-child {
          border-bottom: none;
        }

        td {
          height: 35px;
          padding: 0 3px;
          border-bottom: 1px solid $gray-20;
          color: $gray-60;
          word-break: break-all;
          cursor: default;
          box-sizing: border-box;
          //말줄임표 스타일
          &.omission {
            padding: 0 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
          }

          &.link-style,
          &.cursor-pointer {
            cursor: pointer;
          }
        }

        &:hover,
        &.grid--active {
          td {
            color: $gray-40;
            background: $primary-3;
            cursor: default;
          }
        }

        &.cursor-default {
          &:hover,
          &.grid--active {
            td {
              cursor: default;
            }
          }
        }

        &:last-child {
          border: none;
        }
      }
    }
  }
}
/* ============= Search-form Style ============= */
.search-form {
  @apply flex flex-wrap items-center;
  margin-bottom: 10px;
  > div,
  button {
    margin-bottom: 8px;
  }
  .mx-datepicker {
    width: 120px;
    .mx-input-wrapper {
      width: 100%;
      .mx-input {
        height: 30px;
        border-radius: 0;
      }
    }
  }

  &__label {
    margin-right: 8px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.3px;
    color: $gray-70;
  }
  .client {
    .form__input {
      @apply truncate;
      min-width: 155px;
      &:disabled {
        cursor: default;
      }
    }
  }
  button {
    margin-left: 6px;
  }
  .btn__primary-line {
    height: 30px;
    padding: 0 15px;
  }
  .form__input {
    height: 30px;
    min-width: 300px;
  }
  .vs__dropdown-toggle {
    height: 30px;
    .vs__selected-options {
      height: 30px;
    }
  }
}

.form__box {
  .mx-datepicker {
    // width: 120px;
    .mx-input-wrapper {
      width: 100%;
      .mx-input {
        height: 30px;
        border-radius: 0;
        &:focus,
        &:hover {
          border-color: $primary-4;
        }
      }
    }
    &.mx-datepicker--readonly {
      .mx-input-wrapper {
        pointer-events: none;
        .mx-input {
          background: $gray-1;
          border: 1px solid $gray-20;
        }
        .mx-icon-calendar {
          display: none;
        }
      }
    }
  }
}
