// Primary
$primary-1: #f5799f;
$primary-2: #f297b3;
$primary-3: #fff5fa;
$primary-4: #f1c2d0;

// Black
$gray-80: #111111;
$gray-70: #333333; // 폰트 - 타이틀
$gray-60: #555555; // 폰트 - 기본
$gray-50: #888888; // 폰트 - disabled, placeholder
$gray-40: #666666;
$gray-30: #bcc2d2; // disabled 1
$gray-20: #dddddd; // border
$gray-10: #e2e2e2; // border
$gray-5: #f3f3f3; //hover bg
$gray-3: #d5d7dc;
$gray-2: #f2f2f2; // form disabled
$gray-1: #f8f8f8;
$white: #ffffff;

$error: #f04d1b;
$validation: #ff5469;
