$white: #ffffff;

// Primary
$primary-1: #f5799f;
$primary-2: #f297b3;
$primary-3: #ffedf3;
$primary-4: #f1c2d0;

// Black
$black-1: #111111; // Font
$black-2: #333333; // Font Default
$black-3: #555555; // Font
$black-4: #666666;
$black-5: #aaaaaa; // Disabled
$black-6: #bfc0c4; // Input
$black-7: #cccccc;
$black-8: #dddddd;
$black-9: #eeeeee;
$white: #ffffff;
